{% extends "base.html" %}

{% block title %}Spotify Hits{% endblock %}

{% block content %}
<h1>Top Spotify Hits</h1>
<table>
    <thead>
    <tr>
        <th>Image</th>
        <th>Track Name</th>
        <th>Preview</th>
    </tr>
    </thead>
    <tbody>
    {% for track in tracks %}
    <tr>
        <td><img src="{{ track['album']['images'][0]['url'] }}" alt="{{ track['name'] }}"></td>
        <td>{{ track['name'] }}</td>
        <td>
            {% if track['preview_url'] %}
            <audio controls>
                <source src="{{ track['preview_url'] }}" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
            {% else %}
            No preview available
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
